body {
    margin: 0;
    padding: 0px 30px;
    margin-bottom: 20px;
    background-color: #ABACAD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    height: auto;
}

.left-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upper-left {
    background-color: hsl(0, 0%, 37%);
    padding: 2%;
    margin-bottom: 20px;
}

.profile-image {
    width: 400px;
    height: auto;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 20px auto;
}

.contact-icon {
    width: 56px;
    vertical-align: middle;
    margin-left: 3%;
    margin-bottom: 2%;
}

.hr-icon {
    width: 91%;
    height: 2px;
    border: none;
    background-color: #F5F3F5;
}

.lower-left {
    height: auto;
}

.h1-lower-left {
    margin-left: 22px;
}

.hr-lower-left {
    margin-left: 24px;
    width: 95%;
    height: 2px;
    border: none;
    background-color: black;
}

.li-style {
    font-size: 25px;
    margin-left: 6px;
    color: #141414;
    transition: background-color 0.4s ease, transform 0.3s ease;
    padding: 5px;
}

.li-style:hover {
    background-color: #dd142f;
    transform: scale(1.05);
}


.right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.upper-right {
    background-color: #141414;
    padding: 2%;
    height: 410px;
}

.social-container {
    display: flex;
    align-items: center;
    margin-top: -100px;
    font-size: 27px;
}

.social-icons {
    display: flex;
    margin-left: 10px;
    margin-top: 9px; 
    gap: 10px;
}

.social-icon {
    width: 35px;
    height: auto;
    transition: opacity 0.3s ease;
}

.social-icon:hover {
    opacity: 0.7;
}

.h1-lower-right {
    margin-left: 63px;
}

.h2-lower-right {
    margin-left: 63px;
}

.hr-right {
    margin-left: 63px;
    width: 94%;
    height: 2px;
    border: none;
    background-color:black;
}

.education-container {
    display: flex;
    gap: 80px;
}

.artworks {
    margin-left: 63px;
    margin-top: 20px;
    height: 300px;
    width: auto;
    transition: transform 0.3s ease;
}

.artworks:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 8px #49060f;
}
