body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.upper-left, .lower-left {
    border: 1px solid black;
    padding: 2%;
    width: 30%;
}

.upper-right, .lower-right {
    border: 1px solid black;
    padding: 2%;
    width: 70%;
}

.upper-left, .upper-right {
    height: 50%;
}

.profile-image {
    width: 100%;
    border-radius: 10px;
}

.contact-icon{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.contact-text {
    font-size: 1em;
    display: inline-block;
}

.lower-left, .lower-right{
    height: 50%;
}

